.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 6rem;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backButton {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  color: var(--white);
  padding: 0;
  justify-content: start;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: var(--text-color, #333);
}

.logo {
  height: 15rem;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  display: flex;
  align-items: center;
}
