.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: white;
    padding: 2rem;
    border-radius: 0.8rem;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 400;
    /* Leaflet has 400 by default for controls */
}

.fab {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fabRed {
    background-color: var(--error-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottomBar {
    position: absolute;
    bottom: 80px;
    /* Above BottomNav */
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 400;
    align-items: center;
}

.actionButton {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background: linear-gradient(90deg, var(--primary-color), var(--success-color));
    color: white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.actionButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.secondaryButton {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.emojiIcon {
    border: none;
    background: none;
}